# .gitignore
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Database (NEVER upload this)
db.sqlite3
backup_RajyaBhasha.sqlite3

# Media/Static
static/
media/
*.log
.DS_Store